Source: uuwaf
Section: web
Priority: extra
Maintainer: Colin Turner <c.turner@ulster.ac.uk>
Build-Depends: debhelper (>= 5)
Homepage: http://foss.ulster.ac.uk/projects/uuwaf
Vcs-Browser: http://foss.ulster.ac.uk/cgi-bin/viewvc.cgi/?root=uuwaf
Vcs-Svn: svn co svn://foss.ulster.ac.uk/svn/uuwaf/trunk
Standards-Version: 3.7.2

Package: uuwaf
Architecture: all
Depends: apache2, php5, php5-cli, libapache2-mod-php5, php5-mysql, php5-ldap, smarty, php-pear, debconf, mysql-client, mysql-server
Description: University of Ulster Web Application Framework
 This is a PHP framework for simplifying the creation of web applications.

Package: uuwaf-doc
Section: doc
Architecture: all
Depends: 
Description: API documentation for University of Ulster Web Application Framework
 UUWAF is a PHP framework for simplifying the creation of web applications.
 .
 This is the API documentation.

Package: uuwaf-preferences
Architecture: all
Depends: uuwaf, dbconfig-common
Description: University of Ulster Web Application Framework Preference System
 This provides a common preferences database for software based on UUWAF
